.homepage {
  margin-top: 84px;
}
.head {
  padding-top: 45px;
}

.qb {
  background-color: #516cf0 !important ;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.questions {
  margin-top: 40px;
}
.qb:hover {
  background-color: #fe8402 !important;
}
.askque {
  margin-bottom: 20px;
}
.search-bar input {
  width: 95%;
  padding: 1%;
  border: none;
  outline: none;
}
.search-bar {
  box-shadow: 2px 2px 2px 1px rgb(95, 92, 92);
  width: 50%;
}
